[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=vm-startup
Comment=
Exec=gnome-terminal --tab -e "bash -c /home/kurs/.config/autostart/vm-watch_for_vboxga.sh;bash"
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

